[Unit]
Description=jackett Container
Requires=rclone-cache.service
After=mergerfs.service

[Service]
Restart=always
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/docker start -a jackett
ExecStop=/usr/bin/docker stop -t 2 jackett

[Install]
WantedBy=local.target
