[Unit]
Description=lidarr Container
Requires=rclone-cache.service
After=rclone-cache.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a lidarr
ExecStop=/usr/bin/docker stop -t 2 lidarr

[Install]
WantedBy=local.target
