[Unit]
Description=sonarr Container
Requires=docker.service
After=docker.service
StartLimitIntervalSec=33
StartLimitBurst=5

[Service]
Restart=always
RestartSec=5
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/docker start -a nginx
ExecStop=/usr/bin/docker stop -t 2 nginx

[Install]
WantedBy=local.target
