[Unit]
Description=mylar Container
Requires=rclone-vfs.service
After=rclone-vfs.service
StartLimitIntervalSec=33
StartLimitBurst=5

[Service]
Restart=always
RestartSec=5
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/docker start -a plex
ExecStop=/usr/bin/docker stop -t 2 plex

[Install]
WantedBy=local.target
