[Unit]
Description=mylar Container
Requires=rclone-vfs.service
After=rclone-vfs.service

[Service]
Restart=always
ExecStartPre=/bin/sleep 5
ExecStart=/usr/bin/docker start -a plex
ExecStop=/usr/bin/docker stop -t 2 plex

[Install]
WantedBy=local.target
