[Unit]
Description=rclone-sync Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a rclone-sync
ExecStop=/usr/bin/docker stop -t 2 rclone-sync

[Install]
WantedBy=local.target
