[Unit]
Description=rclonevfs Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a rclone-vfs
ExecStop=/usr/bin/docker stop -t 2 rclone-vfs

[Install]
WantedBy=local.target
