[Unit]
Description=sonarr Container
Requires=rclone-cache.service
After=mergerfs.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a sonarr
ExecStop=/usr/bin/docker stop -t 2 sonarr

[Install]
WantedBy=local.target
